{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='custom.css')}}">
{% endblock %}

{% block title %}Sun, Right Now!{% endblock %}


{% block content %}

<div class="container" style="text-align: center;">

{% with _scaling_factor = 0.35 %}
{% with _logo_width =  875*_scaling_factor %}
{% with _logo_height = 1125*_scaling_factor %}
<img src = "static/images/sunpy.png" alt="SunPy Logo" style="height:{{ _logo_height }}px; width:{{ _logo_width  }}px;" />
{% endwith %}
{% endwith %}
{% endwith %}


<div class="jumbotron">
      <h1>Sun, Right Now!</h1>
</div>
      <div>
            <form name="input" method='GET'>
                <div class="form-group">
                    <label for="input_date">Input Date ( YYYY-MM-DD )</label>
                    <input type="text" name="_input_date" autocorrect="off" autocapitalize="off" class="form-control" id="input_date" placeholder="{{ _input_date }}" value="{{ _input_date }}">
                </div>
                
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form><br>
    </div>
    <div>
        <p>Showing for {{ _input_date }}</p>
    </div>

    <table style="margin: 0px auto;" >
        <tr>
            <td>
                <img src = {{ _image_paths['magnetogram'] }} alt="magnetogram" />
                <p align="center">HMI Magnetogram</p>
            </td>
            <td>
                <img src = {{ _image_paths['continuum'] }} alt="continuum" />
                <p align="center">HMI Continuum</p>
            </td>
            <td>
                <img src = {{ _image_paths['aia'] }} alt="aia" />
                <p align="center">AIA</p>
            </td>
        </tr>
        <tr>
            <td>
                <img src = {{ _image_paths['stereoa'] }} alt="stereoa" />
                <p align="center">Stereo A</p>
            </td>
            <td>
                <img src = {{ _image_paths['stereob'] }} alt="stereob" />
                <p align="center">Stereo B</p>
            </td>
        </tr>
    </table>

    <p><a href="{{ url_for('magnetogram') }}">HMI Magnetogram</a></p>
    <p><a href="{{ url_for('continuum') }}">HMI Continuum</a></p>
    <p><a href="{{ url_for('aia') }}">AIA</a></p>
    <p><a href="{{ url_for('stereoa') }}">Stereo A</a></p>
    <p><a href="{{ url_for('stereob') }}">Stereo B</a></p>

    <p><a href="{{ url_for('goes') }}">GOES</a></p>
    <p><a href="{{ url_for('eve') }}">EVE</a></p>

    <footer class="footer">
        <p>Powered by <a href="http://sunpy.org/">Sunpy</a></p>
    </footer>
</div><!-- /container -->

{%- endblock %}
