<!doctype html>

<html lang="en">
<center>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />

    <title>SunPy {{ _client_name }} Browser</title>

    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css"
        rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.js"></script>
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}

  </head>
  <body  style="text-align:center">
                <p>SunPy {{ _client_name }} Browser</p><br>

                <!-- The following div is to fix the toolbar location
                when bokeh graphs are center aligned. Its a 
                temporary fix, but it works ;)  
                https://github.com/bokeh/bokeh/issues/4599 -->
                <div style="display:table; margin:0 auto;">
                {{ plot_div|indent(4)|safe }}
                </div>

                            <!-- A simple form for changing the graph -->
            <form name="time_select" method='GET' align="center">
                From:
                <input type="text" name="_from" value="{{ _from }}" /><br>
                To:
                <input type="text" name="_to" value="{{ _to }}" />
                <br>
                <button type="submit">Submit</button><br>
                <button name="prev" type="submit">Previous</button>
                <button name="next" type="submit">Next</button><br>
                <button name="prev_hour" type="submit">Previous Hour</button>
                <button name="next_hour" type="submit">Next Hour</button><br>
                <button name="prev_day" type="submit">Previous Day</button>
                <button name="next_day" type="submit">Next Day</button><br>
            </form>

    <br>
    <p><a href="{{ url_for('download', _client_name=_client_name, _from=_from, _to=_to) }}">Download python script for this plot</a></p>
    <p>Powered by <a href="http://sunpy.org/">Sunpy</a>, Flask, and Bokeh</p>
    <p><a href="{{ url_for('index') }}">Home</a></p>
  </body>

  </center>
</html>